body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, rgba(62, 42, 243, 0.815), #0000);
}
.tela{
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:80px;
    padding-top: 100px;
    padding-bottom: 130px;
    border-radius: 20px;
    color: white;
}
.inf{
    padding: 13px;
    border-radius: 10px;
    border: none;
    outline:none;
    font-size: 18px;
}
.main-btt{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(4, 161, 17);
}
.criar{
    width: 40%;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color:white;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 157, 30);
    margin-top: 10px;
}
.erro{
    color: red;
    font-size: 18px;
}