<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conta</title>
    <link rel="stylesheet" href="static/conta.css">
</head>
<body>
    <div class = "header">
        <h1>{{ nome }}</h1>

        <div class = "menu">
            <div>Criar</div>
            <div>Buscar</div>
            <div>Perfil</div>
            <form class = "logout" action="/logout" method="post">
                <button>Logout</button>
            </form>
        </div>
    </div>
</body>
</html>